@charset "utf-8";
/* CSS Document */

#formCreationContainer {
    padding:50px;
    align:center;
}

#formContainerInJoinEventPage {
    padding:50px;
    align:center;
}

#event-data-holder {
    background-color: rgba(255, 255, 255, 0.5);
}

.form-holder
{
    width: 1000px;
}

.form-row
{
    height: 50px;
    font-size: 16px;

}

.form-cell
{
    vertical-align: middle;
}

.form-input-text
{
    height: 100%;
    min-width: 250px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: thin solid black;
}

.form-input-number
{
    height:90%;
    width: 85px;
    width: 40%;
    padding-left: 5px;
    padding-right: 5px;
    border-top: 0px;
    border-left: 0px;
    border-right: thin solid black;
    border-bottom: thin solid black;
}

.eventServerResponse
{
}

body#teamformbody {
    background-repeat:no-repeat;
    background-size: 100%;
}

.teams
{
    background-color: rgb(0,200,200);
    border: thin solid black;
    display: inline-block;
    min-width: 200px;
}

.non-editable
{
    border: thin solid grey;
    
}
