@charset "utf-8";
/* CSS Document */

form { margin: 0 auto; }

#formCreationContainer {
    padding:50px;
    align:center;
}

#formContainerInJoinEventPage {
    align: center;
    /*width: 1100px;*/
    /*margin-left: 150px;*/
    /*margin-top: 50px;*/
}

#formContainerInJoinEventPage {
    /*float: right;*/
    /*padding:20px;*/
    align:center;
    /*margin-top: 280px;*/
    /*margin-right: 5px;*/
    background-color: rgba(0, 0, 0, 0.5);
}

#event-data-holder {
    background-color: rgba(255, 255, 255, 0.5);
}

.form-holder
{
    width: 1000px;
}

.form-row
{
    height: 50px;
    font-size: 16px;

}

.form-cell
{
    vertical-align: middle;
}

.form-input-text
{
    height: 100%;
    min-width: 250px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: thin solid black;
}

.form-input-number
{
    height:90%;
    width: 85px;
    width: 40%;
    padding-left: 5px;
    padding-right: 5px;
    border-top: 0px;
    border-left: 0px;
    border-right: thin solid black;
    border-bottom: thin solid black;
}

.eventServerResponse
{
	font-size:20px;
	font-weight: bold;
}

.eventServerResponseURL
{
	font-size:24px;
	font-weight: bolder;
}
body#teamformbody {
    background-repeat:no-repeat;
    background-size: 100%;
}

