<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <link rel = "stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <title>My Webpage</title>
    <style>
	.team-heading
	{
		background-color:#006;
		color: white;
		width:100%;
		align: center;
		vertical-align:top;
	}
	
	.team-container
	{
		display: inline-block;
		min-width: 200px;
		border: 10px solid black;
		border-top: 0px;
		vertical-align: bottom;
		height: "{{ Event.maxP * 50}}px";
	}
	
	</style>
</head>
<body>
    <div class = "banner">
    {{ Event.name }}
    {{ Event.organiser }}
    {{ Event.description }}
    </div>

    {% for teamId, team in Event.teams.iteritems() %}
    	<div class='team-container'>
            <div class="team-heading"> Team {{ loop.index }} </div>
            <div id = "{{ teamId }}" class = "teams {% if User.team != teamId %} droppableTeams {% endif %}">
                {% if User.team == teamId %}
                    <div id = "user" class = "editable" title = "{{ User.skills }}"> {{ User.name }} </div>
                {% endif %}
                {% for member in team %}
                        <div class = "non-editable" title = "{{ member.skills }}"> {{ member.name }} </div>
                {% endfor %}
            </div>
       </div>
    {% endfor %}
    <div class="team-container">
    	<div class="team-heading"> No Teams </div>
        <div id = "no-team" class= "teams droppableTeams">
        {% if User.team == "" %}
        <div id = "user" class="editable" title="{{ User.skills }}"> {{ User.name }}
        </div>
        {% endif %}        
        {% for participant in Event.nonteam %}
            <div class = "non-editable" title = "{{ participant.skills }}"> {{ participant.name }} 
                <button onClick="formTeam('{{ participant.url }}')">Request to make Team</button>
            </div>
        {% endfor %}
        </div>
    </div>
</body>
<script>
	var currentUser = "{{ User.url }}";
</script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="../js/index.js"></script>
<script type="text/javascript">
	
	$('.droppableTeams').sortable({
		items: ".editable",
		connectWith: ".droppableTeams",
		revert: true,
		tolerance: "pointer",
		zIndex: 9999,
		receive: function(event,ui){
					ui.item.removeClass("editable").addClass("newTeamRequest").addClass('non-editable');
					if($(ui.item).parent().attr('id') == "no-team")
					{
						// joinTeam($(this).attr('id');
					}
					else
					{
//						jumpTeam($(this).attr('id'));
					}
				}
	});
</script>
</html>
