<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>My Webpage</title>
</head>
<body>
    <div class = "banner">
    {{ Event.name }}
    {{ Event.organiser }}
    {{ Event.description }}
    </div>
    
    {% for team in Event.teams %}
    	<ul> 
        	<li> Team {{ loop.index }} </li>
            {% for member in team.members %}
            	<li mem-> {{ member.name }} </li>
            {% endfor %}
        </ul>
    {% endfor %}
   	<ul>
   	{% for member in Event.nonteam %}
    	<li> {{ member.name }}</li>
    {% endfor %}
    </ul>
</body>
</html>
