<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>My Webpage</title>
</head>
<body>
    <div class = "banner">
    {{ Event.name }}
    {{ Event.organiser }}
    {{ Event.description }}
    </div>

    {% for teamId, team in Event.teams.iteritems() %}
    	<ul id = "{{ teamId }}" class = "teams">
        	<li> Team {{ loop.index }} </li>
            {% if User.team == teamId %}
            	<li id = "user" class = "editable" title = "{{ User.skills }}"> {{ User.name }} </li>
            {% endif %}
            {% for member in team %}
            		<li class = "non-editable" title = "{{ member.skills }}"> {{ member.name }} </li>
            {% endfor %}
        </ul>
    {% endfor %}
   	<ul>
    {% if User.team == "" %}
    <li id = "user" class="editable" title="{{ User.skills }}"> {{ User.name }}
    </li>
    {% endif %}        
   	{% for participant in Event.nonteam %}
    	<li class = "non-editable" title = "{{ participant.skills }}"> {{ participant.name }} 
        	<button onClick="formTeam('{{ participant.url }}')">Request to make Team</button>
        </li>
    {% endfor %}
    </ul>
</body>
<script>
	var currentUser = "{{ User.url }}";
</script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="../js/index.js"></script>
<script type="text/javascript">
	
	$(".teams").droppable({
		tolerance: "pointer",
		hoverClass: "teamHighlight",
		accept: "#user",
		drop: function(event, ui){
            joinTeam($(this).attr('id'));
		}
	});
	
	$("#user").draggable();
</script>
</html>
