<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../css/index.css" />
    <title>Teamformers</title>
    <script src="../js/index.js"></script>
    <!-- JQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>

<body id="teamformbody" background="../img/bg.jpg">
<script type="text/javascript">
	var currentEvent = "{{ Event.url }}";
</script>
     <h1 style="text-align:center;">{{ Event.name }}</h1>
     <h3 style="text-align:center;">by</h3>
     <h2 style="text-align:center;">{{ Event.organiser }}</h2>
     <h3 style="text-align:center;"><i>{{ Event.description }}</i></h3>
     <br />
     <br />
     <!-- <div class="container" id="formContainerInJoinEventPage" style="width:1000px; margin-left:150px;">
        <div class="row">
            <div class="span12 center">
                <form id="joinEventForm" role="form" style="align: center;">
                    <div class="span6 center" style="text-align:center">
                        <table class = "form-holder">
                            <caption style="align: center;"><h2 style="align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Join the Event</h1></caption>
                            <tr class = "form-row">
                                <td class = "form-cell">Name</td>
                                <td class = "form-cell"><input size="10" type="text" id="userName" class = "form-input-text"  style="width:175px;"/></td>
                            </tr>
                            <tr class = "form-row">
                                <td class = "form-cell">Email</td>
                                <td class = "form-cell"><input size="10" type="text" id="userEmail" class = "form-input-text"  style="width:175px;"/></td>
                            </tr>
                            <tr class = "form-row">
                                <td class = "form-cell">Skills</td>
                                <td class = "form-cell"><input type="text" id="userSkills" class = "form-input-text" title="Test"  style="width:175px;"/></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input style="margin-left: 100px; align: center;" type="submit" onclick="return joinAnEvent();"/>
                            </tr>
                        </table>
                        <caption style="align: center;"><h2 style="align: center;">

                    </div>
                 </form> -->
                 <form class="form-horizontal" style="width: 50%; align: center; background-color: rgba(0, 0, 0, 0.1);">
                    <fieldset>

                    <!-- Form Name -->
                    <legend><p style="font-size:30px"><b>Join Event</b></p></legend>

                    <!-- Text input-->
                    <div class="control-group">
                      <label style="float-left; font-size: 25px;" class="control-label" for="textinput">Name</label>
                      <div class="controls">
                        <input style="float=right; width: 100%; font-size: 25px;"  id="userName" name="textinput" type="text" placeholder="What's your name?" class="input-xlarge" width="100%" required="">
                      </div>
                    </div>

                    <br />
                    <!-- Text input-->
                    <div class="control-group">
                      <label style="float-left; font-size: 25px;" class="control-label" for="textinput">E-mail ID</label>
                      <div class="controls">
                        <input style="float=right; width: 100%; font-size: 25px;" id="userEmail" name="textinput" type="text" placeholder="Where can we reach you?" class="input-xlarge" required="">
                      </div>
                    </div>

                    <br />
                    <!-- Text input-->
                    <div class="control-group">
                      <label style="float-left; font-size: 25px;" class="control-label" for="textinput">Skills</label>
                      <div class="controls">
                        <input style="float=right; width: 100%; font-size: 25px;" id="userSkills" name="textinput" type="text" placeholder="What skills do you bring to the event?" class="input-xlarge">
                      </div>
                    </div>

                    <br />
                    <!-- Button -->
                    <div class="control-group">
                        <label class="control-label" for="singlebutton"></label>
                        <div class="controls">
                            <button id="singlebutton" name="singlebutton" class="btn btn-primary" onclick="return joinAnEvent();" style="float:right;"><p style="font-size: 20px;">Submit</p></button>
                        </div>
                    </div>

</fieldset>
</form>

            <!-- </div>
        </div>
    </div> -->

</body>
</html>
